.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  background-image: url(https://t4.ftcdn.net/jpg/00/81/35/31/360_F_81353111_RHDo5ABCfUCnQpiSqJmAI6bzrIiF11rI.jpg);
  background-size: cover;
}

mat-form-field{
  gap: 10px;
}
