.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;
  
}
form {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 500px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
 background-image: url(https://cdn.photoroom.com/v1/assets-cached.jpg?path=backgrounds_v3/black/Photoroom_black_background_extremely_fine_texture_only_black_co_c3ee01bd-a082-44ff-b184-e338a13b2ffa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

mat-form-field{
  gap: 10px;
}
